<div style="display: flex;">
    <div>
        <AllDepartmentsItem Title="Appliances" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <Appliances/>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Baby" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Baby
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Beauty" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Beauty
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Clothing,&nbsp;Luggage&nbsp;&amp;&nbsp;Handbags" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Clothing,&nbsp;Luggage&nbsp;&amp;&nbsp;Handbags
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Computers" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Computers
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Electronics" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Electronics
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Floral&nbsp;&amp;&nbsp;Gift&nbsp;Baskets" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Floral&nbsp;&amp;&nbsp;Gift&nbsp;Baskets
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Food,&nbsp;Household&nbsp;&amp;&nbsp;pet" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Food,&nbsp;Household&nbsp;&amp;&nbsp;pet
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Furniture" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Furniture
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Gift&nbsp;Cards&nbsp;&amp;&nbsp;Tickets" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Gift&nbsp;Cards&nbsp;&amp;&nbsp;Tickets
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Gourmet Foods" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Gourmet Foods
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Health &amp;&nbsp;Personal&nbsp;Care" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Health &amp;&nbsp;Personal&nbsp;Care
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Home&nbsp;Improvement" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Home&nbsp;Improvement
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Home&nbsp;&amp;&nbsp;Kitchen" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Home&nbsp;&amp;&nbsp;Kitchen
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Jewelry,&nbsp;Watches&nbsp;&amp;&nbsp;Sunglassses" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Jewelry,&nbsp;Watches&nbsp;&amp;&nbsp;Sunglassses
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Mattresses" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Mattresses
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Office Products" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Office Products
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Patio, Lawn &amp; Garden" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Patio, Lawn &amp; Garden
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Sports &amp; Fitness" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Sports &amp; Fitness
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Tires &amp; Auto" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Tires &amp; Auto
            </div>
        </AllDepartmentsItem>
        <AllDepartmentsItem Title="Toys &amp; Books" ExpansionCallbackOver="((x) => { Expansion = x; StateHasChanged(); })" ExpansionCallbackOut="(x => { return; })">
            <div>
                Toys &amp; Books
            </div>
        </AllDepartmentsItem>


    </div>
    @if (Expansion != null)
    {
        <div style="border-left: 1px solid black;">
            @Expansion
        </div>
    }
</div>