<div class="businessDelivery">
    <img style="width: 570px; height: 185.5px;" src="content/bd-nationwide-expanded.webp"/>
    <h3>
        Shop By Department
    </h3>
    <div style="display: flex; justify-content: space-between;">
        <div>
            <div><a href="javascript:void(0);">Beverages</a></div>
            <div><a href="javascript:void(0);">Candy & Snacks</a></div>
            <div><a href="javascript:void(0);">Disposables</a></div>
            <div><a href="javascript:void(0);">Electronics</a></div>
        </div>
        <div>
            <div><a href="javascript:void(0);">Grocery</a></div>
            <div><a href="javascript:void(0);">Janitorial</a></div>
            <div><a href="javascript:void(0);">Office</a></div>
            <div><a href="javascript:void(0);">Restaurant</a></div>
        </div>
    </div>
    <div class="btn btn-primary" style="width: 100%;">Shop CostcoBusinessDelivery.com ></div>
    <div style="font-size: 10px;">Delivery times and surcharges may vary depending on delivery method.</div>
</div>