<div class="grocery" style="display: flex; justify-content:space-between;">
    <div>
        <h3>Grocery & Household</h3>
        <div><a href="javascript:void(0);">Kirkland Signature</a></div>
        <div><a href="javascript:void(0);">Organic</a></div>
        <div><a href="javascript:void(0);">Water & Beverages</a></div>
        <div><a href="javascript:void(0);">Snacks & Candy</a></div>
        <div><a href="javascript:void(0);">Paper Products & Food Storage</a></div>
        <div><a href="javascript:void(0);">Household & Cleaning</a></div>
        <div><a href="javascript:void(0);">Pantry & Dry Goods</a></div>
        <div><a href="javascript:void(0);">Coffee & Sweeteners</a></div>
        <div><a href="javascript:void(0);">Cakes & Cookies</a></div>
        <div><a href="javascript:void(0);">Gift Baskets</a></div>
        <div><a href="javascript:void(0);">Gourmet Foods</a></div>
        <div><a href="javascript:void(0);">Breakfast</a></div>
        <div><a href="javascript:void(0);">Canned & Packaged Foods</a></div>
        <div><a href="javascript:void(0);">Pet Food & Supplies</a></div>
        <div><a href="javascript:void(0);">Health & Beauty</a></div>
        <div><a href="javascript:void(0);">Emergency Kits & Supplies</a></div>
    </div>
    <div>
        <h3>Three Ways to Shop</h3>
        <div style="font-weight:bold;">Delivery Methods:</div>
        <div><a href="javascript:void(0);">Standard</a></div>
        <div><a href="javascript:void(0);">2-Day Delivery</a></div>
        <div><a href="javascript:void(0);">Same-day Delivery from local Costco powered by Instacart</a></div>
        <img src="content/feature-19w0508-grocery.webp" />
    </div>
</div>