<div class="pharmacy" style="width: 345px;">
    <div style="display: flex; justify-content:space-between;">
        <div>
            <div><a href="javascript:void(0);">Shop Pharmacy</a></div>
            <div><a href="javascript:void(0);">Refill Prescriptions</a></div>
            <div><a href="javascript:void(0);">Transfer Prescriptions</a></div>
            <div><a href="javascript:void(0);">New Prescriptions</a></div>
        </div>
        <div>
            <div><a href="javascript:void(0);">Warehouse Pickup</a></div>
            <div><a href="javascript:void(0);">Prescription Status</a></div>
            <div><a href="javascript:void(0);">Patient Profile</a></div>
            <div><a href="javascript:void(0);">Immunizations</a></div>
        </div>
    </div>
    <div style="background-color: rgb(239, 246, 252); background-repeat: no-repeat; background-position: 100% 100%; width:100%; background-image: url(content/flyout-bg-pharmacy-160615.webp);">
        <div>Costco Member</div>
        <div>Prescription Program</div>
        <div style="height:20px;"></div>
        <div><a href="javascript:void(0);">Learn More ></a></div>
    </div>
</div>