<div class="photo" style="width: 750px;">
    <div style="display: flex; justify-content: space-between;">
        <div>
            <h3>Photo Gifts</h3>
            <div><a href="javascript:void(0);">Prints</a></div>
            <div><a href="javascript:void(0);">Greeting Cards</a></div>
            <div><a href="javascript:void(0);">Canvas Prints</a></div>
            <div><a href="javascript:void(0);">Metal Prints</a></div>
            <div><a href="javascript:void(0);">Acrylic Prints</a></div>
            <div><a href="javascript:void(0);">Photo Books</a></div>
            <div><a href="javascript:void(0);">Calendars</a></div>
            <div><a href="javascript:void(0);">All Photo Gifts</a></div>
        </div>
        <div>
            <h3>Photo Services</h3>
            <div><a href="javascript:void(0);">Home Video Transfer</a></div>
            <div><a href="javascript:void(0);">Ink Cartridge Refills</a></div>
            <div><a href="javascript:void(0);">Passport Photos</a></div>
            <div><a href="javascript:void(0);">Photo Creative Services</a></div>
        </div>
        <div>
            <h3>Business Printing</h3>
            <div><a href="javascript:void(0);">Business Cards</a></div>
            <div><a href="javascript:void(0);">Banners</a></div>
            <div><a href="javascript:void(0);">Posters</a></div>
            <div><a href="javascript:void(0);">Yard Signs</a></div>
            <div><a href="javascript:void(0);">Postcards</a></div>
            <div><a href="javascript:void(0);">Flyers</a></div>
            <div><a href="javascript:void(0);">Brochures</a></div>
            <div><a href="javascript:void(0);">All Products</a></div>
        </div>
    </div>
    <div style="height: 175px; background-color: rgb(239, 246, 252); background-repeat: no-repeat; background-position: 100% 100%; width:100%; background-image: url(content/20w0758-photcenter-drop-down.webp);">
        <div>20% Off</div>
        <div>Canvas Prints</div>
        <div>Offer ends March 31</div>
        <div style="height:20px;"></div>
        <div><a href="javascript:void(0);">See Details ></a></div>
    </div>
</div>