@typeparam TViewModel

<div @onmouseover="OnMouseOver" @onmouseout="OnMouseOut" class="shopAllDepartmentsItem" style="position: relative; cursor: pointer;">
    @((MarkupString)MarkupText)
    @if (DisplayDropdownContent)
    {
        if (ChildContent != null)
        {
            <div class="dropdownContent" style="left: @(Left)px">
                @ChildContent(ViewModel)
            </div>
        }
    }
</div>