<div class="travel" style="width: 420px;">
    <div style="display: flex; justify-content:space-between;">
        <div>
            <div><a href="javascript:void(0);">Shop Travel</a></div>
            <div><a href="javascript:void(0);">Vacation Packages</a></div>
            <div><a href="javascript:void(0);">Cruises</a></div>
            <div><a href="javascript:void(0);">Rental Cars</a></div>
            <div><a href="javascript:void(0);">Hotels</a></div>
        </div>
        <div>
            <div><a href="javascript:void(0);">What's New</a></div>
            <div><a href="javascript:void(0);">Theme Parks</a></div>
            <div><a href="javascript:void(0);">Executive Members</a></div>
            <div><a href="javascript:void(0);">Warehouse Travel Booklet</a></div>
        </div>
    </div>
    <div style="height: 220px; background-color: rgb(239, 246, 252); background-repeat: no-repeat; background-position: 100% 100%; width:100%; background-image: url(content/20200217_Rental_DotCom_eSpot.webp);">
        <div>Rental Cars</div>
        <div>for Every Occasion</div>
        <div style="height:20px;"></div>
        <div><a href="javascript:void(0);">Shop Now ></a></div>
    </div>
</div>