@page "/"
@using CostcoClone.Components
@using Repository
@using Models
@using Interfaces
@inject IProductRepository ProductRepository

@{IProduct k = ProductRepository.GetProducts().ElementAt(0);}

    <div>
        @k.Title
        @k.Price
        <div>
            @k.ProductDetails
        </div>
    </div>

<ImageCarousel/>

<Banner/>

<Banner ImageURL="content/d-homepage-lg-banner-20w0748-samsung-tv-v.webp"/>