@page "/Products/{ProductId}"

@if (Product != null)
{
    <h3>@Product.Title</h3>

    <img src="@Product.ImageURLs.ElementAt(0)" style="width: 500px; height: 500px;" />

    <h3>@Product.Title</h3>

    <div>
        @Product.ProductDetails
    </div>
}