@page "/search"
@page "/search/{Department}/{Query}"
@using CostcoClone.Components
@using Interfaces
<div style="display: flex;">
    <FilterMenu/>
    <GenericGridList TItem="IProduct" Items="@ProductRepository.GetProducts().ToList()">
        <ItemTemplate>
            <img src="@context.ImageURLs[0]" style="max-width:200px;" />
            @context.Title
        </ItemTemplate>
    </GenericGridList>
</div>