<div class="bottomRow">
    <img class="branding" src="content/Costco-Wholesale-US.svg" />
    <SearchBar/>
    <div style="display: inline;">
        Sign In / Register | <span style="font-size: 12px;" class='oi oi-magnifying-glass' aria-hidden='true'></span>Cart
    </div>
</div>