<div class="bottomRow">
    <img class="branding" src="content/Costco-Wholesale-US.svg" />
    <SearchBar/>
    <div style="display: flex;">
        <a href="javascript:void(0);">Sign&nbsp;In&nbsp;/&nbsp;Register</a> | <a style="display: flex;" href="javascript:void(0);"><span style="font-size: 12px;" class='oi oi-cart' aria-hidden='true'></span>Cart</a>
    </div>
</div>