<div class="findAWarehouse">
    <div>
        <div>City, State or Zip</div>
        <input />
    </div>
    <div>
        <div>
            Show Warehouses with:
        </div>
        <div style="display: flex;">
            <div style="width: 128px;" class="leftColumn">
                <div>Gas Station</div>
                <div>Tire Center</div>
                <div>Food Court</div>
                <div>Hearing Aids</div>
            </div>
            <div style="width: 128px;" class="rightColumn">
                <div>Optical</div>
                <div>Pharmacy</div>
                <div>Business Center</div>
                <div>Photo Center</div>
            </div>
        </div>
    </div>
    <div class="btn btn-primary">
        Find a Warehouse
    </div>
</div>