<div class="getEmailOffers">
    <div>
        Get Email Offers
    </div>
    <div>
        Sign up for great offers from Costco.com!
    </div>
    <div style="display:inline-block; width: 100%;">
        <input /><div class="btn btn-primary" style="display:inline; border-radius: 0;"></div>
    </div>
</div>