<div style="display: inline-block;">
    <div style="display: inline;">All<span style="font-size: 12px;" class='oi oi-caret-bottom' aria-hidden='true'></span></div>
    <div style="display: inline;"><input placeholder="Search" /><span style="font-size: 12px;" class='oi oi-magnifying-glass' aria-hidden='true'></span></div>
</div>