@using DM2BD.Typeahead
@using Repository
@using Interfaces
@inject IProductRepository ProductRepository

@{List<IProduct> products = new List<IProduct>();}

<div style="display: flex;">
    <div style="display: inline;">All<span style="font-size: 12px;" class='oi oi-caret-bottom' aria-hidden='true'></span></div>
    <Typeahead ItemType="IProduct" Filter="(async (x) => ProductRepository.GetProductsByTitle(x).ToList())"
               OnAutocomplete="((x) => { products = x; InvokeAsync(StateHasChanged); })" Selector="((IProduct x) => x.Title)" Placeholder="Filter Results">
        <AutocompleteDropdownItemTemplate Context="searchContext">
            <div>@searchContext.Title</div>
        </AutocompleteDropdownItemTemplate>
        <SubmitButtonTemplate>
        </SubmitButtonTemplate>
    </Typeahead>
</div>