<div style="width: 114px;" class="selectCountryRegion">
    <div>Select country/region:</div>
    <div>
        <div>
            <a href="javascript:void(0)">United States</a>
        </div>
        <div>
            <a href="javascript:void(0)">Canada</a>
        </div>
        <div>
            <a href="javascript:void(0)">United Kingdom</a>
        </div>
        <div>
            <a href="javascript:void(0)">Mexico</a>
        </div>
        <div>
            <a href="javascript:void(0)">South Korea</a>
        </div>
        <div>
            <a href="javascript:void(0)">Taiwan</a>
        </div>
        <div>
            <a href="javascript:void(0)">Japan</a>
        </div>
        <div>
            <a href="javascript:void(0)">Australia</a>
        </div>
        <div>
            <a href="javascript:void(0)">Iceland</a>
        </div>
    </div>
</div>