<div @onmouseover="OnMouseOver" @onmouseout="OnMouseOut" class="topLinkItem" style="position: relative;">
    @Text@((MarkupString)MarkupText)
    @if (ChildContent != null)
    {
        <span style="font-size: 12px;" class='oi oi-caret-bottom' aria-hidden='true'></span>
    }
    @if (DisplayDropdownContent)
    {
        if (ChildContent != null)
        {
            <div class="dropdownContent">
                @ChildContent
            </div>
        }
    }
</div>