@typeparam TViewModel

<div @onmouseover="OnMouseOver" @onmouseout="OnMouseOut" class="topLinkItem" style="position: relative;">
    <span>@((MarkupString)MarkupText)</span>
    @if (ChildContent != null)
    {
        <span style="font-size: 12px;" class='oi oi-caret-bottom' aria-hidden='true'></span>
    }
    @if (DisplayDropdownContent)
    {
        if (ChildContent != null)
        {
            <div class="dropdownContent" style="left: @(Left)px">
                @ChildContent(ViewModel)
            </div>
        }
    }
</div>

