<div class="footer">
    <div style="display: flex; justify-content:space-between;">
        <div style="width: 50%;">
            <div>
                Find a Warehouse
            </div>
            <div style="width:100%;"><input style="width:80%;" placeholder="City, state or zip" /><span style="font-size: 12px;" class='oi oi-magnifying-glass' aria-hidden='true'></span></div>
        </div>
        <div style="width: 50%;">
            <div>
                Get Email Offers
            </div>
            <div style="width:100%;"><input style="width:80%;" placeholder="Enter your email" /><div class="btn btn-primary">Go</div></div>
        </div>
    </div>
    <div style="display: flex; justify-content:space-between;">
        <div>
            <h3>About Us</h3>
            <div>
                <div><a href="javascript:void(0);">Charitable contributions</a></div>
                <div><a href="javascript:void(0);">Company Information</a></div>
                <div><a href="javascript:void(0);">Sustainability Commitment</a></div>
                <div><a href="javascript:void(0);">Investor Relations</a></div>
                <div><a href="javascript:void(0);">Jobs</a></div>
                <div><a href="javascript:void(0);">Kirkland Signature</a></div>
                <div><a href="javascript:void(0);">Logo and Media Requests</a></div>
                <div><a href="javascript:void(0);">Product Videos</a></div>
                <div><a href="javascript:void(0);">The Costco Connection</a></div>
                <div><a href="javascript:void(0);">Quick & Easy Recipe Videos</a></div>
                <div><a href="javascript:void(0);">Costco Blog</a></div>
                <div><a href="javascript:void(0);">Employee Site</a></div>
            </div>
        </div>
        <div>
            <h3>Membership</h3>
            <div><a href="javascript:void(0);">Join Now</a></div>
            <div><a href="javascript:void(0);">Membership Privileges</a></div>
            <div><a href="javascript:void(0);">Executive Membership Terms</a></div>
            <div><a href="javascript:void(0);">Sign In or Register</a></div>
            <div><a href="javascript:void(0);">Credit Card</a></div>

            <h3>Vendors & Suppliers</h3>
            <div><a href="javascript:void(0);">Supply Chain Disclosure</a></div>
            <div><a href="javascript:void(0);">Ethics Hotline for Suppliers</a></div>
            <div><a href="javascript:void(0);">Supplier Diversity</a></div>
        </div>
        <div>
            <h3>Customer Service</h3>
            <div><a href="javascript:void(0);">Costco Shop Card Balance</a></div>
            <div><a href="javascript:void(0);">Order By Item Number</a></div>
            <div><a href="javascript:void(0);">Concierge Tech Support & Warranty</a></div>
            <div><a href="javascript:void(0);">Export & Domestic Volume Sales</a></div>
            <div><a href="javascript:void(0);">Order Status</a></div>
            <div><a href="javascript:void(0);">Preventing Fraud</a></div>
            <div><a href="javascript:void(0);">Shipping</a></div>
            <div><a href="javascript:void(0);">Rebates</a></div>
            <div><a href="javascript:void(0);">Recalls</a></div>
            <div><a href="javascript:void(0);">Returns and Exchanges</a></div>
            <div><a href="javascript:void(0);">Returns Policy</a></div>
            <div><a href="javascript:void(0);">Accessibility</a></div>
        </div>
        <div>
            <h3>Locations & Services</h3>
            <div><a href="javascript:void(0);">Find a Warhouse</a></div>
            <div><a href="javascript:void(0);">Locations Coming Soon</a></div>
            <div><a href="javascript:void(0);">Hours and Holiday Closures</a></div>
            <div><a href="javascript:void(0);">Gasoline</a></div>
            <div><a href="javascript:void(0);">Hearing Aid Center</a></div>
            <div><a href="javascript:void(0);">Optical</a></div>
            <div><a href="javascript:void(0);">Special Events</a></div>
            <div><a href="javascript:void(0);">Gift Registry</a></div>
            <div><a href="javascript:void(0);">CostcoGrocery</a></div>
            <div><a href="javascript:void(0);">Grocery by Instacart</a></div>
        </div>
    </div>
    <div>

    </div>
</div>