<div class="footer">
    <div style="display: flex; justify-content:space-between;">
        <div style="width: 50%;">
            <div>
                Find a Warehouse
            </div>
            <div style="width:100%;"><input style="width:80%;" placeholder="City, state or zip" /><span style="font-size: 12px;" class='oi oi-magnifying-glass' aria-hidden='true'></span></div>
        </div>
        <div style="width: 50%;">
            <div>
                Get Email Offers
            </div>
            <div style="width:100%;"><input style="width:80%;" placeholder="Enter your email" /><div class="btn btn-primary">Go</div></div>
        </div>
    </div>
    <div>

    </div>
    <div>

    </div>
</div>