@using CostcoClone.Shared.ShopAllDepartmentsComponents

<div class="shopAllDepartments">
    <ShopAllDepartmentsItem MarkupText="<span style='font-size: 12px;' class='oi oi-magnifying-glass' aria-hidden='true'></span>Shop All Departments">
        <div class="findAWarehouse">
            <div>
                <div>City, State or Zip</div>
                <input style="width: 100%;" />
            </div>
            <div>
                <div>
                    Show Warehouses with:
                </div>
                <div style="display: flex;">
                    <div style="width: 143px;" class="leftColumn">
                        <div><input type="checkbox" /><span style="font-size: 12px;" class='oi oi-globe' aria-hidden='true'></span>Gas Station</div>
                        <div><input type="checkbox" /><span style="font-size: 12px;" class='oi oi-globe' aria-hidden='true'></span>Tire Center</div>
                        <div><input type="checkbox" /><span style="font-size: 12px;" class='oi oi-globe' aria-hidden='true'></span>Food Court</div>
                        <div><input type="checkbox" /><span style="font-size: 12px;" class='oi oi-globe' aria-hidden='true'></span>Hearing Aids</div>
                    </div>
                    <div style="width: 143px;" class="rightColumn">
                        <div><input type="checkbox" /><span style="font-size: 12px;" class='oi oi-globe' aria-hidden='true'></span>Optical</div>
                        <div><input type="checkbox" /><span style="font-size: 12px;" class='oi oi-globe' aria-hidden='true'></span>Pharmacy</div>
                        <div><input type="checkbox" /><span style="font-size: 12px;" class='oi oi-globe' aria-hidden='true'></span>Business Center</div>
                        <div><input type="checkbox" /><span style="font-size: 12px;" class='oi oi-globe' aria-hidden='true'></span>Photo Center</div>
                    </div>
                </div>
            </div>
            <div style="border-radius: 0; width: 100%;" class="btn btn-primary">
                Find a Warehouse
            </div>
        </div>
    </ShopAllDepartmentsItem>
</div>