@using CostcoClone.Shared.ShopAllDepartmentsComponents

    <div class="shopAllDepartments">
        <ShopAllDepartmentsItem TViewModel="Optical" MarkupText="<span style='font-size: 12px;' class='oi oi-magnifying-glass' aria-hidden='true'></span>Shop All Departments">
            <AllDepartments/>
        </ShopAllDepartmentsItem>
        <ShopAllDepartmentsItem TViewModel="Optical" MarkupText="Grocery">
            <Grocery/>
        </ShopAllDepartmentsItem>
        <ShopAllDepartmentsItem TViewModel="Optical" MarkupText="Business Delivery">
            <BusinessDelivery/>
        </ShopAllDepartmentsItem>
        <ShopAllDepartmentsItem TViewModel="Optical" MarkupText="Optical">
            <Optical/>
        </ShopAllDepartmentsItem>
        <ShopAllDepartmentsItem TViewModel="Optical" MarkupText="Pharmacy">
            <Pharmacy/>
        </ShopAllDepartmentsItem>
        <ShopAllDepartmentsItem TViewModel="Optical" Left="-445" MarkupText="Services">
            <Services/>
        </ShopAllDepartmentsItem>
        <ShopAllDepartmentsItem TViewModel="Optical" Left="-580" MarkupText="Photo">
            <Photo/>
        </ShopAllDepartmentsItem>
        <ShopAllDepartmentsItem TViewModel="Optical" Left="-358" MarkupText="Travel">
            <Travel/>
        </ShopAllDepartmentsItem>
        <ShopAllDepartmentsItem TViewModel="Optical" MarkupText="Membership">
            <Membership/>
        </ShopAllDepartmentsItem>
        <ShopAllDepartmentsItem TViewModel="Optical" MarkupText="Locations">
        </ShopAllDepartmentsItem>
    </div>