@using Interfaces.Departments.Computers
@using Interfaces

<div>
    <div style="width: 314.28px;">
        <div style="display: flex; border-bottom: 1px solid #ddd; justify-content: space-between;">
            <h5>Filter Results</h5>
            
            <a style="margin-right: 10px;" href="javascript:void(0);">Clear All</a>
        </div>
        @foreach (var item in ProductRepository.ComputerRepository.LaptopsNotebookComputersRepository.Filters)
        {
            <FilterMenuItem TItem="ILaptopsNotebookComputers" DisplayText="@item.Key" Filter="item.Value" />
        }

    </div>
</div>